

<!-- https://getbootstrap.com/docs/5.3/customize/color-modes/ -->

<div class="offcanvas offcanvas-start" id="test">
    <div class="offcanvas-header">
        <h6 class="offcanvas-title" id="test">Employee Controls</h6>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body">
        <ul class="nav nav-pills flex-column mb-sm-auto align-items-start" id="menu">
            @if (User.IsInRole("Admin"))
            {
                <li class="nav item">
                    <a class="nav-link text-truncate" asp-controller="admin" asp-action="index">
                        <span class="ms-1 d-none d-sm-inline">Admin Dashboard</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-truncate" asp-area="" asp-controller="Item" asp-action="DisplayItems">
                        <span class="ms-1 d-none d-sm-inline">Items</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-truncate" asp-area="" asp-controller="Item" asp-action="Reports">
                        <span class="ms-1 d-none d-sm-inline">Reports</span>
                    </a>
                </li>
                <li>
                    <a class="nav-link text-truncate" asp-area="" asp-controller="Order" asp-action="ViewRefunds">
                        <span class="ms-1 d-none d-sm-inline">Refunds</span>
                    </a>
                </li>
            }
            <li>
                <a class="nav-link text-truncate" asp-area="" asp-controller="Item" asp-action="EditAmt">
                    <span class="ms-1 d-none d-sm-inline">Item amount edits</span>
                </a>
            </li>
            <li>
                <a class="nav-link text-truncate" asp-area="" asp-controller="customer" asp-action="Index">
                    <span class="ms-1 d-none d-sm-inline">Customer Contact</span>
                </a>
            </li>
            
        </ul>
    </div>
</div>
<div class="navbar">
<button class="btn-outline-light navbar-toggler float-left ml-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#test" aria-controls="test" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
</div>