@model WarehouseManager.Models.ViewModels.ChangeEmailViewModel;

<h2>Change Password</h2>

<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<form method="post" asp-action="ChangeEmail">
    <div class="row mb-2">
        <label class="col-form-label col-md-2">Username:</label>
        <div class="col-md-4">
            <input asp-for="NewEmail" class="form-control" readonly />
        </div>
    </div>
</form>


